<div
  class="bg-white absolute -right-36 -bottom-3 p-4 rounded-sm border-[1px] border-zinc-100 w-32 h-32 text-zinc-400 -z-50"
>
  <ul>
    <a routerLink="">
      <li
        class="text-slate-600 flex justify-start items-center gap-1 hover:bg-slate-100 px-2 py-1 font-semibold"
      >
        Share <i class="bi bi-share"></i>
      </li>
    </a>
    <a routerLink="">
      <li
        class="text-slate-600 flex justify-start items-center gap-1 hover:bg-slate-100 py-1 px-2 font-semibold"
      >
        save <i class="bi bi-bookmark-fill"></i>
      </li>
    </a>

    <a routerLink="">
      <li
        class="text-slate-600 flex justify-start items-center gap-1 hover:bg-slate-100 px-2 py-1 font-semibold"
      >
        Dismiss <i class="bi bi-journal-x"></i>
      </li>
    </a>
  </ul>
</div>
