<app-top-navbar></app-top-navbar>
<section class="bg-img h-[30rem] w-screen relative">
  <section class="z-10 absolute top-16 left-6">
    <span class="font-semibold text-white text-3xl">cybernorb</span>
    <h1 class="font-bold text-slate-800 text-5xl">Tecnology Community</h1>
    <h1 class="font-bold text-white text-5xl">News</h1>
  </section>
  <img
    src="../../../assets/images/video-camera.svg"
    alt=""
    class="w-11 rotate-[190deg] absolute top-11 right-7"
    srcset=""
  />

  <img
    src="../../../assets/images/package.svg"
    alt=""
    class="w-11 rotate-180 absolute top-40 right-32"
    srcset=""
  />

  <img
    src="../../../assets/images/thumbs-up.svg"
    alt=""
    class="w-11 -rotate-[10deg] absolute top-20 right-52"
    srcset=""
  />

  <img
    src="../../../assets/images/magic-wand.svg"
    alt=""
    class="w-11 -rotate-[10deg] absolute top-64 right-52"
    srcset=""
  />
</section>
<section class="relative">
  <div class="bg-zinc-200 w-1 h-full left-10 absolute top-0"></div>
  <div class="ps-28 pe-20 pb-40">
    <div class="me-auto pt-20 w-[40rem] text-black text-justify font-semibold">
      Lorem ipsum dolor sit. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Molestiae ex minima alias pariatur numquam quas praesentium, magni
      recusandae sunt! Commodi eveniet quasi vitae id quia explicabo. Id
      voluptatibus, quibusdam nobis praesentium sequi debitis. Iusto quae sed
      corporis laudantium facere nam.
    </div>

    <div
      class="ms-auto text-zinc-400 text-justify w-[30rem] font-light text-sm"
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni,
      molestias? Totam, sint odio temporibus, exercitationem possimus illum quis
      a natus sequi, eius dolorem aperiam error quos! Facilis cum blanditiis
      possimus!
    </div>

    <div class="relative bg-slate-200 rounded-md mt-8 w-full shadow-md">
      <video
        src="../../../assets/video/8275992-hd_1920_1080_30fps.mp4"
        class="rounded-md h-[70%] brightness-50"
      ></video>
      <i
        class="cursor-pointer bi bi-camera-reels-fill text-white bg-neutral-800 rounded-full w-16 h-16 absolute left-1/2 right-1/2 top-1/2 bottom-1/2 flex justify-center items-center text-2xl"
      ></i>
      <div class="absolute bottom-8 left-9">
        <h1 class="text-4xl font-semibold">
          <span class="text-lime-700 font-bold">Discover</span>
          <span class="text-white"> what</span> <br />
          <span class="text-lime-700 font-bold">cybernorb</span>
          <span class="text-white"> bring to you.</span>
        </h1>
      </div>
    </div>
    <section class="w-80 gap-3 mt-5 mb-14">
      <h1 class="text-lg font-light text-zinc-600 mb-1">Spreading</h1>
      <div class="grid grid-cols-2 grid-rows-2 gap-4">
        <div>
          <span class="text-black font-semibold text-sm"
            >Numbers of shares <br />
            by week</span
          >
          <h1 class="font-bold text-lime-700 text-5xl">467+</h1>
        </div>
        <div>
          <span class="text-black font-semibold text-sm"
            >Numbers of posts <br />
            by week</span
          >
          <h1
            class="font-bold text-lime-700 text-4xl flex justify-start items-center"
          >
            <i class="bi bi-arrow-up"></i> 37+
          </h1>
        </div>
        <div>
          <span class="text-black font-semibold text-sm"
            >New User<br />
            Increasing
          </span>
          <h1 class="font-bold text-lime-700 text-3xl">10%</h1>
        </div>
        <div>
          <span class="text-black font-semibold text-sm"
            >Tecnology News<br />
            shared</span
          >
          <h1 class="font-bold text-lime-700 text-2xl">
            <i class="bi bi-arrow-up"></i> 27+
          </h1>
        </div>
      </div>
    </section>
    <div class="ms-auto mt-5 mb-20 w-[30rem]">
      <h1 class="text-lime-700 font-semibold text-4xl">Our motivation</h1>
      <p class="text-zinc-600 text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
        nesciunt! Porro libero similique exercitationem natus, harum corrupti
        veritatis eligendi a hic illo ipsum ipsa pariatur! Dicta totam, illo
        ullam cupiditate doloribus atque obcaecati optio consectetur!
      </p>
    </div>

    <div class="p-2 bg-lime-700 w-[30rem]">
      <p class="text-lg font-semibold text-white p-3">
        Please leave your opinion abour the cybernorb so that we can improve the
        way we do this application.
      </p>
      <input
        type="text"
        placeholder="Name"
        class="mt-2 border-[1px] border-white text-white bg-transparent placeholder:text-white p-1 w-full"
      />
      <input
        type="email"
        placeholder="E-mail"
        class="mt-2 border-[1px] border-white text-white bg-transparent placeholder:text-white p-1 w-full"
      />
      <textarea
        name=""
        id=""
        class="mt-2 border-[1px] border-white text-white bg-transparent placeholder:text-white p-1 w-full"
        placeholder="Your Message ..."
      ></textarea>
      <button
        class="bg-white hover:border-black border-[1px] text-black p-2 w-full flex justify-between items-center"
      >
        Enviar <i class="bi bi-arrow-right text-lg"></i>
      </button>
    </div>
  </div>
</section>

<app-footer></app-footer>
