<app-top-navbar></app-top-navbar>

<section class="p-8">
  <h1 class="text-start text-slate-600 text-4xl">Settings</h1>

  <div class="bg-zinc-50 rounded-md p-4 flex justify-start items-center gap-10">
    <button
      (click)="filterEvents('account')"
      class="text-sm {{
        filterSettingsChosen == 'account' ? 'bg-slate-300' : 'bg-slate-100'
      }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
    >
      Account
    </button>
    <button
      (click)="filterEvents('profile')"
      class="text-sm {{
        filterSettingsChosen == 'profile' ? 'bg-slate-300' : 'bg-slate-100'
      }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
    >
      Profile
    </button>
    <button
      (click)="filterEvents('notifications')"
      class="text-sm {{
        filterSettingsChosen == 'notifications'
          ? 'bg-slate-300'
          : 'bg-slate-100'
      }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
    >
      Notifications
    </button>
    <button
      (click)="filterEvents('apperance')"
      class="text-sm {{
        filterSettingsChosen == 'apperance' ? 'bg-slate-300' : 'bg-slate-100'
      }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
    >
      Apperance
    </button>
    <button
      (click)="filterEvents('security')"
      class="text-sm {{
        filterSettingsChosen == 'security' ? 'bg-slate-300' : 'bg-slate-100'
      }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
    >
      Security
    </button>
    <button
      (click)="filterEvents('integrations')"
      class="text-sm {{
        filterSettingsChosen == 'integrations' ? 'bg-slate-300' : 'bg-slate-100'
      }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
    >
      Integrations
    </button>
  </div>
  <section class="w-full bg-yellow-200 min-h-14"></section>
</section>
<app-footer></app-footer>
