<app-top-navbar></app-top-navbar>

<section class="p-8">
  <h1 class="text-start text-slate-600 text-4xl">Settings</h1>
  <div
    class="rounded-md flex justify-start items-center gap-4 p-3 mt-5 shadow-sm"
  >
    <button
      class="text-sm bg-slate-200 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
    >
      Account
    </button>
    <button
      class="text-sm bg-slate-50 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
    >
      Profile
    </button>
    <button
      class="text-sm bg-slate-50 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
    >
      Notifications
    </button>
    <button
      class="text-sm bg-slate-50 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
    >
      Apperance
    </button>
    <button
      class="text-sm bg-slate-50 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
    >
      Security
    </button>
    <button
      class="text-sm bg-slate-50 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
    >
      Integrations
    </button>
  </div>
</section>
<app-footer></app-footer>
