<footer
  class="relative flex flex-col justify-around items-center bg-slate-950 text-sm text-white pb-14 pt-8 w-full"
>
  <section
    class="overflow-hidden whitespace-nowrap border-y-[1px] mb-14 border-slate-800 text-zinc-400"
  >
    <ul class="scroll-content flex justify-center items-center gap-6 py-3">
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 scroll-item hover:text-zinc-500"
          >Breaking News</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 scroll-item hover:text-zinc-500"
          >Breaking News</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 scroll-item hover:text-zinc-500"
          >Breaking News</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Hacker Posts</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Programmer Posts</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Tips and Tricks</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Guield</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Kalilinux</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Recent posts</a
        >
      </li>
    </ul>
  </section>
  <section>
    <ul
      class="flex justify-center items-center gap-6 text-zinc-400 hover:text-zinc-500 mt-8"
    >
      <li>
        <a
          routerLink="/profile"
          class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
          >Profile</a
        >
      </li>
      <li>
        <a
          routerLink="/notifications"
          class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
          >Notifications</a
        >
      </li>
      <li>
        <a
          routerLink="/community"
          class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
          >Community</a
        >
      </li>
      <li>
        <a
          href="/usage"
          class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
          >Cybernorb Usage</a
        >
      </li>
      <li>
        <a
          routerLink="/settings"
          class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
          >Settings</a
        >
      </li>
      <li>
        <a
          routerLink="/privacy"
          class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
          >Privacy and Politivs</a
        >
      </li>
    </ul>
  </section>
  <section class="flex justify-between gap-20 items-center mt-14">
    <a href="#">
      <img src="../../../assets/images/logo-dark.png" class="pb-2" />
    </a>

    <ul class="flex justify-center items-center gap-4">
      <li>
        <a
          routerLink="/"
          class="bi bi-twitter text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
      <li>
        <a
          routerLink="/"
          class="bi bi-facebook text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
      <li>
        <a
          routerLink="/"
          class="bi bi-linkedin text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
      <li>
        <a
          routerLink="/"
          class="bi bi-instagram text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
    </ul>
  </section>
  <a href="#">
    <i
      class="flex justify-center items-center absolute bottom-6 right-7 bi bi-chevron-up bg-zinc-400 hover:text-zinc-300 text-slate-950 h-9 w-9 text-2xl rounded-full cursor-pointer hover:bg-zinc-400"
    ></i>
  </a>
</footer>
