<footer
  class="relative flex flex-col justify-around items-center bg-slate-950 text-sm text-white p-3 py-14 w-full mt-5"
>
  <ul
    class="flex justify-center items-center gap-6 border-y-[1px] py-3 my-8 border-zinc-300 text-zinc-300"
  >
    <li><a href="" class="font-semibold bg-slate-950 p-1">Breaking News</a></li>
    <li><a href="" class="font-semibold bg-slate-950 p-1">Hacker Posts</a></li>
    <li>
      <a href="" class="font-semibold bg-slate-950 p-1">Programmer Posts</a>
    </li>
    <li>
      <a href="" class="font-semibold bg-slate-950 p-1">Tips and Tricks</a>
    </li>
    <li><a href="" class="font-semibold bg-slate-950 p-1">Guield</a></li>
    <li><a href="" class="font-semibold bg-slate-950 p-1">Recent posts</a></li>
  </ul>

  <section>
    <ul class="flex justify-center items-center gap-6 text-zinc-300">
      <a href=""> cybernorb </a>
      <li>
        <a href="" class="font-semibold bg-slate-950 p-1 text-zinc-300">Home</a>
      </li>
      <li>
        <a href="" class="font-semibold bg-slate-950 p-1 text-zinc-300"
          >Perfil</a
        >
      </li>
      <li>
        <a href="" class="font-semibold bg-slate-950 p-1 text-zinc-300"
          >contact</a
        >
      </li>
      <li>
        <a href="" class="font-semibold bg-slate-950 p-1 text-zinc-300"
          >About</a
        >
      </li>
      <li>
        <a href="" class="font-semibold bg-slate-950 p-1 text-zinc-300"
          >Guield</a
        >
      </li>
      <li>
        <a href="" class="font-semibold bg-slate-950 p-1 text-zinc-300"
          >Recent posts</a
        >
      </li>
    </ul>
  </section>
  <section class="flex justify-between gap-20 items-center mt-8">
    <a href=""> cybernorb </a>

    <ul class="flex justify-center items-center gap-4">
      <li>
        <a href="" class="bi bi-twitter text-zinc-300 hover:text-zinc-400"></a>
      </li>
      <li>
        <a href="" class="bi bi-facebook text-zinc-300 hover:text-zinc-400"></a>
      </li>
      <li>
        <a href="" class="bi bi-linkedin text-zinc-300 hover:text-zinc-400"></a>
      </li>
    </ul>
  </section>
  <a href="">
    <i
      class="flex justify-center items-center absolute bottom-6 right-7 bi bi-chevron-up bg-zinc-300 text-slate-950 h-9 w-9 text-2xl rounded-full cursor-pointer hover:bg-zinc-400"
    ></i>
  </a>
</footer>
