<footer
  class="relative flex flex-col justify-around items-center bg-slate-950 text-sm text-white pb-14 pt-8 w-full max-lg:w-screen max-lg:overflow-x-hidden"
>
  <section
    class="overflow-hidden whitespace-nowrap border-y-[1px] mb-14 border-slate-800 text-zinc-400"
  >
    <ul class="scroll-content flex justify-center items-center gap-6 py-3">
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 scroll-item hover:text-zinc-500"
          >Breaking News</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 scroll-item hover:text-zinc-500"
          >Hacker News</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 scroll-item hover:text-zinc-500"
          >Pentesting</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Php</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Javascript</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Tips and Tricks</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >NodeJs</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Angular</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >NestJs</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >NextJs</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Kalilinux</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Metaploit</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Linux</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >Vscode</a
        >
      </li>
      <li class="scroll-item">
        <a
          routerLink="/posts?category=true"
          class="font-semibold bg-slate-950 p-1 hover:text-zinc-500"
          >IDE</a
        >
      </li>
    </ul>
  </section>
  <section>
    <ul
      class="flex justify-center items-stretch gap-10 max-lg:gap-2 max-lg:text-[95%] text-zinc-400 mt-8"
    >
      <li class="flex flex-col justify-stretch items-start">
        <h3 class="p-1 text-base text-zinc-500">Cybernorb</h3>
        <ul class="flex flex-col gap-1 justify-center items-start">
          <li>
            <a
              routerLink="/cybernorb/news"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >News</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/notifications"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Notifications</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/community"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Community</a
            >
          </li>
        </ul>
      </li>
      <li class="flex flex-col justify-stretch items-start">
        <h3 class="p-1 text-base text-zinc-500">Profile</h3>
        <ul class="flex flex-col gap-1 justify-center items-start">
          <li>
            <a
              routerLink="/cybernorb/privacy"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Profile</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/privacy"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Posts</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/login"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Logout</a
            >
          </li>
        </ul>
      </li>
      <li class="flex flex-col justify -stretch items-start">
        <h3 class="p-1 text-base text-zinc-500">Resources</h3>
        <ul class="flex flex-col gap-1 justify-center items-start">
          <li>
            <a
              routerLink="/cybernorb/events"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Events</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/usage"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Usage</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/support"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Support</a
            >
          </li>
        </ul>
      </li>
      <li class="flex flex-col justify-stretch items-start max-lg:hidden">
        <h3 class="p-1 text-base text-zinc-500">Social</h3>
        <ul class="flex flex-col gap-1 justify-center items-start">
          <li>
            <a
              href="https://x.com"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="https://facebook.com"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Facebook</a
            >
          </li>
          <li>
            <a
              href="https://instagram.com"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://linkedin.com"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Linkedin</a
            >
          </li>
        </ul>
      </li>
      <li class="flex flex-col justify-stretch items-start">
        <h3 class="p-1 text-base text-zinc-500">Legal</h3>
        <ul class="flex flex-col gap-1 justify-center items-start">
          <li>
            <a
              routerLink="/cybernorb/privacy"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Terms & Privacy
            </a>
          </li>

          <li>
            <a
              routerLink="/cybernorb/settings"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Settings</a
            >
          </li>
          <li>
            <a
              routerLink="/cybernorb/support"
              class="font-semibold bg-slate-950 p-1 text-zinc-400 hover:text-zinc-500"
              >Support</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="flex justify-between gap-20 items-center mt-14">
    <a href="#">
      <img src="../../../assets/images/logo-dark.png" class="pb-2" />
    </a>

    <ul class="flex justify-center items-center gap-4">
      <li>
        <a
          href="https://x.com"
          class="bi bi-twitter text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
      <li>
        <a
          href="https://facebook.com"
          class="bi bi-facebook text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
      <li>
        <a
          href="https://linkedin.com"
          class="bi bi-linkedin text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
      <li>
        <a
          href="https://instagram.com"
          class="bi bi-instagram text-zinc-400 hover:text-zinc-500"
        ></a>
      </li>
    </ul>
  </section>
  <a href="#">
    <i
      class="flex justify-center items-center absolute bottom-6 right-7 bi bi-chevron-up bg-zinc-400 hover:text-zinc-300 text-slate-950 h-9 w-9 text-2xl rounded-full cursor-pointer hover:bg-zinc-400"
    ></i>
  </a>
</footer>
