<nav
  class="pt-3 relative whitespace-nowrap flex justify-center items-center bg-slate-800 text-sm text-white w-full my-10 mb-10 shadow-lg"
>
  <p-carousel
    [value]="techs"
    [numVisible]="13"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-tech pTemplate="item">
      <!-- <ul
        class="navbar-container flex justify-center items-center gap-6 overflow-hidden px-6"
      ></ul> -->
      <!-- <ul
        class="navbar-container flex justify-center items-center gap-6 overflow-hidden px-6"
      > -->
      <!-- <a
        [style.nav-active]="true"
        class="font-semibold bg-slate-700 hover:bg-slate-700 p-1 border-t-[3px] border-zinc-400"
        >{{ tech }}</a
      > -->
      <!-- </ul> -->
      <ul class="flex justify-evenly items-center gap-0 mt-[3px]">
        <span
          class="text-sm font-semibold bg-slate-700 border-zinc-400 p-[3px]"
          >{{ tech }}</span
        >
      </ul>
    </ng-template>
  </p-carousel>
</nav>
