<nav
  class="relative flex justify-center items-center bg-slate-950 text-sm text-white p-3 w-full my-10 mb-16 shadow-lg"
>
  <i
    class="absolute left-4 bi bi-chevron-left text-xl text-white hover:bg-white hover:text-black h-7 w-7 rounded-full flex justify-start items-center cursor-pointer"
  ></i>
  <i
    class="absolute right-2 bi bi-chevron-right text-xl text-white hover:bg-white hover:text-black h-7 w-7 rounded-full flex justify-start items-center cursor-pointer"
  ></i>
  <ul class="flex justify-center items-center gap-6">
    <li><a href="" class="font-semibold bg-slate-900 p-1">Breaking News</a></li>
    <li><a href="" class="font-semibold bg-slate-900 p-1">Hacker Posts</a></li>
    <li>
      <a href="" class="font-semibold bg-slate-900 p-1">Programmer Posts</a>
    </li>
    <li>
      <a href="" class="font-semibold bg-slate-900 p-1">Tips and Tricks</a>
    </li>
    <li><a href="" class="font-semibold bg-slate-900 p-1">Guield</a></li>
    <li><a href="" class="font-semibold bg-slate-900 p-1">Recent posts</a></li>
    <li><a href="" class="font-semibold bg-slate-900 p-1">Recent posts</a></li>
    <li><a href="" class="font-semibold bg-slate-900 p-1">Recent posts</a></li>
    <li><a href="" class="font-semibold bg-slate-900 p-1">Recent posts</a></li>
  </ul>
</nav>
