<nav
  class="relative flex justify-center items-center bg-slate-800 text-sm text-white p-3 w-full my-10 mb-10 shadow-lg"
>
  <i
    class="absolute left-4 bi bi-chevron-left text-xl text-white hover:bg-slate-600 h-8 w-8 pe-1 rounded-full flex justify-center items-center cursor-pointer"
  ></i>
  <i
    class="absolute right-4 bi bi-chevron-right text-xl text-white hover:bg-slate-600 h-8 w-8 ps-2 rounded-full flex justify-start items-center cursor-pointer"
  ></i>
  <ul class="flex justify-center items-center gap-6">
    <li>
      <a
        routerLink="breaking-news"
        routerLinkActive="nav-active"
        class="font-semibold bg-slate-700 hover:bg-slate-700 p-1 border-t-[3px] border-zinc-400"
        >Breaking News</a
      >
    </li>
    <li>
      <a
        routerLink="hacker news"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >Hacker news</a
      >
    </li>
    <li>
      <a
        routerLink="devops"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >devops</a
      >
    </li>
    <li>
      <a
        routerLink="tips-tricks"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >Tips and Tricks</a
      >
    </li>
    <li>
      <a
        routerLink="ctf"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >ctf</a
      >
    </li>
    <li>
      <a
        routerLink="soc"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >soc</a
      >
    </li>
    <li>
      <a
        routerLink="frontend-dev"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >frontend dev</a
      >
    </li>
    <li>
      <a
        routerLink="pentest"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >pentest</a
      >
    </li>
    <li>
      <a
        routerLink="backend-developer"
        routerLinkActive="nav-active"
        class="font-semibold p-1 hover:bg-slate-700"
        >backend dev</a
      >
    </li>
  </ul>
</nav>
