<app-top-navbar></app-top-navbar>

<section class="mt-7">
  <div class="border-b-2 border-zinc-300 my-3 pb-1 mx-14">
    <h3 class="text-slate-600 font-bold text-4xl">Community</h3>
    <h5 class="text-zinc-400 text-sm mt-1">
      Most highlighted people's interactions on cybernorb
    </h5>
  </div>
  <app-modal-large [cardProfileData]="dataToCardProfile">
    <app-single-post></app-single-post>
  </app-modal-large>
  <section class="mx-14 mt-14">
    <div class="card">
      <p-carousel
        [value]="postUsers"
        [numVisible]="7"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-post pTemplate="item">
          <div
            class="hover:brightness-75 cursor-pointer border-1 surface-border border-round p-3"
          >
            <div
              (click)="handleCardDialog(true)"
              class="card-best-interations w-48 h-64 p-4 bg-slate-50 rounded-md shadow-sm flex flex-col justify-between items-start"
            >
              <h4 class="text-white">{{ post.content }}</h4>

              <div class="flex justify-center items-center gap-2">
                <img
                  src="../../../assets/images/how-to-install-images-on-vscode.png"
                  alt=""
                  class="w-8 h-8 rounded-full"
                />
                <span class="text-white">{{ post.username }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </section>
  <section class="w-full px-14 my-14 flex justify-center items-stretch gap-3">
    <div
      class="w-[80%] rounded-md flex flex-col justify-start items-center gap-4 overflow-y-scroll p-2"
    >
      <div
        class="cursor-pointer hover:border-slate-100 w-full border-[1px] border-zinc-100 rounded-sm shadow-md p-3"
      >
        <div>
          <h4 class="font-bold mt-3">Something nice theme</h4>
          <h6 class="mb-3 text-slate-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            sit.
          </h6>
          <div class="flex justify-between items-stretch mt-3">
            <span
              class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
              >programming</span
            >
            <div class="flex items-center gap-4">
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">12.433</h4>
                <i class="bi bi-heart-fill text-slate-700 font-mono"></i>
              </div>
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">1.433</h4>
                <i
                  class="bi bi-bookmark-plus-fill text-slate-700 font-mono"
                ></i>
              </div>
            </div>
            <div class="flex justify-center items-stretch gap-1">
              <img
                src="../../../assets/images/me.jpg"
                alt=""
                class="w-8 h-8 rounded-full shadow-md"
              />
              <div class="">
                <h3 class="font-semibold text-sm text-slate-600">
                  Mário Norberto
                </h3>
                <h5 class="font-light text-sm text-slate-400">
                  Backend Developer
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="cursor-pointer hover:border-slate-100 w-full border-[1px] border-zinc-100 rounded-sm shadow-md p-3"
      >
        <div>
          <h4 class="font-bold mt-3">Something nice theme</h4>
          <h6 class="mb-3 text-slate-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            sit.
          </h6>
          <div class="flex justify-between items-stretch mt-3">
            <span
              class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
              >programming</span
            >
            <div class="flex items-center gap-4">
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">12.433</h4>
                <i class="bi bi-heart-fill text-slate-700 font-mono"></i>
              </div>
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">1.433</h4>
                <i
                  class="bi bi-bookmark-plus-fill text-slate-700 font-mono"
                ></i>
              </div>
            </div>
            <div class="flex justify-center items-stretch gap-1">
              <img
                src="../../../assets/images/me.jpg"
                alt=""
                class="w-8 h-8 rounded-full shadow-md"
              />
              <div class="">
                <h3 class="font-semibold text-sm text-slate-600">
                  Mário Norberto
                </h3>
                <h5 class="font-light text-sm text-slate-400">
                  Backend Developer
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="cursor-pointer hover:border-slate-100 w-full border-[1px] border-zinc-100 rounded-sm shadow-md p-3"
      >
        <div>
          <h4 class="font-bold mt-3">Something nice theme</h4>
          <h6 class="mb-3 text-slate-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            sit.
          </h6>
          <div class="flex justify-between items-stretch mt-3">
            <span
              class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
              >programming</span
            >
            <div class="flex items-center gap-4">
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">12.433</h4>
                <i class="bi bi-heart-fill text-slate-700 font-mono"></i>
              </div>
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">1.433</h4>
                <i
                  class="bi bi-bookmark-plus-fill text-slate-700 font-mono"
                ></i>
              </div>
            </div>
            <div class="flex justify-center items-stretch gap-1">
              <img
                src="../../../assets/images/me.jpg"
                alt=""
                class="w-8 h-8 rounded-full shadow-md"
              />
              <div class="">
                <h3 class="font-semibold text-sm text-slate-600">
                  Mário Norberto
                </h3>
                <h5 class="font-light text-sm text-slate-400">
                  Backend Developer
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="cursor-pointer hover:border-slate-100 w-full border-[1px] border-zinc-100 rounded-sm shadow-md p-3"
      >
        <div>
          <h4 class="font-bold mt-3">Something nice theme</h4>
          <h6 class="mb-3 text-slate-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            sit.
          </h6>
          <div class="flex justify-between items-stretch mt-3">
            <span
              class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
              >programming</span
            >
            <div class="flex items-center gap-4">
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">12.433</h4>
                <i class="bi bi-heart-fill text-slate-700 font-mono"></i>
              </div>
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">1.433</h4>
                <i
                  class="bi bi-bookmark-plus-fill text-slate-700 font-mono"
                ></i>
              </div>
            </div>
            <div class="flex justify-center items-stretch gap-1">
              <img
                src="../../../assets/images/me.jpg"
                alt=""
                class="w-8 h-8 rounded-full shadow-md"
              />
              <div class="">
                <h3 class="font-semibold text-sm text-slate-600">
                  Mário Norberto
                </h3>
                <h5 class="font-light text-sm text-slate-400">
                  Backend Developer
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="cursor-pointer hover:border-slate-100 w-full border-[1px] border-zinc-100 rounded-sm shadow-md p-3"
      >
        <div>
          <h4 class="font-bold mt-3">Something nice theme</h4>
          <h6 class="mb-3 text-slate-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta,
            sit.
          </h6>
          <div class="flex justify-between items-stretch mt-3">
            <span
              class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
              >programming</span
            >
            <div class="flex items-center gap-4">
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">12.433</h4>
                <i class="bi bi-heart-fill text-slate-700 font-mono"></i>
              </div>
              <div class="flex flex-col items-center justify-center gap-1">
                <h4 class="text-slate-600">1.433</h4>
                <i
                  class="bi bi-bookmark-plus-fill text-slate-700 font-mono"
                ></i>
              </div>
            </div>
            <div class="flex justify-center items-stretch gap-1">
              <img
                src="../../../assets/images/me.jpg"
                alt=""
                class="w-8 h-8 rounded-full shadow-md"
              />
              <div class="">
                <h3 class="font-semibold text-sm text-slate-600">
                  Mário Norberto
                </h3>
                <h5 class="font-light text-sm text-slate-400">
                  Backend Developer
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="ms-2 w-[20%] flex flex-col gap-3 justify-stretch items-center bg-white"
    >
      <div
        class="relative p-4 border-[1px] border-zinc-100 shadow-md rounded-sm w-full"
      >
        <div class="flex justify-between items-center mb-1">
          <span class="text-zinc-300">Total Posts</span>
          <h4 class="font-semibold text-slate-800">3,456</h4>
        </div>
        <div class="flex justify-between items-center mb-1">
          <span class="text-zinc-300">Total Topics</span>
          <h4 class="font-semibold text-slate-800">56</h4>
        </div>
        <div class="flex justify-between items-center mb-3">
          <span class="text-zinc-300">Total Members</span>
          <h4 class="font-semibold text-slate-800">7,480</h4>
        </div>
        <hr />
        <h4 class="text-black font-semibold my-3">New Members</h4>
        <div class="flex justify-start items-center gap-2">
          <span class="text-zinc-400 italic">+33</span>
          <div class="relative flex">
            <img
              src="../../../assets/images/me.jpg"
              alt=""
              class="w-8 h-8 rounded-full z-50 shadow-md"
            />
            <img
              src="../../../assets/images/me.jpg"
              alt=""
              class="w-8 h-8 rounded-full z-40 absolute -right-6 shadow-md"
            />
            <img
              src="../../../assets/images/me.jpg"
              alt=""
              class="w-8 h-8 rounded-full z-30 absolute -right-11 shadow-md"
            />
            <img
              src="../../../assets/images/me.jpg"
              alt=""
              class="w-8 h-8 rounded-full z-20 absolute -right-16 shadow-md"
            />
            <img
              src="../../../assets/images/me.jpg"
              alt=""
              class="w-8 h-8 rounded-full z-10 absolute -right-20 shadow-md"
            />
          </div>
        </div>
      </div>
      <div
        class="p-4 border-[1px] bg-white border-zinc-100 shadow-sm rounded-sm w-full"
      >
        <h4 class="text-black font-bold">Weekly</h4>
        <h3 class="text-[11px] text-zinc-400">Posts Increasing</h3>

        <div
          class="border-[1px] border-zinc-300 h-28 w-28 p-5 mx-auto rounded-full flex justify-center items-center"
        >
          <div
            class="border-[1px] border-zinc-300 p-4 h-22 w-22 rounded-full flex justify-center items-center"
          >
            <div
              class="border-4 border- border-orange-400 h-14 w-14 p-4 rounded-full flex justify-center items-center"
            >
              <h1 class="font-bold text-black text-lg">87%</h1>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-6 w-full" />
      <span class="text-zinc-300 me-auto pb-2">Ads</span>
      <section
        class="hover:brightness-50 cursor-pointer bg-slate-500 w-full h-72 flex flex-col rounded-sm justify-center items-center mb-2 mt-3"
      >
        <!-- <img
          src="../../../assets/images/ad2.png"
          class="w-full rounded-md h-full"
          alt=""
        /> -->
        <span>video ads</span>
      </section>
      <section
        class="hover:brightness-50 cursor-pointer bg-slate-300 w-full h-72 flex flex-col justify-center items-center"
      >
        <!-- <img
          src="../../../assets/images/ad1.png"
          class="w-full h-full rounded-md"
          alt=""
        /> -->
        <span>video ads</span>
      </section>
    </div>
  </section>

  <section class="bg-zinc-50 px-14 pb-72 mt-56">
    <h4 class="font-bold py-10 text-4xl text-slate-600">
      community's Testimony
    </h4>
    <div class="grid grid-cols-3 grid-rows-2 mt-14 gap-14">
      <div
        class="relative bg-white transition delay-600 ease-in duration-400 hover:shadow-slate-400 hover:-translate-y-3 rounded-md p-3 h-40 w-96 border-[1px] border-zinc-200 flex flex-col justify-stretch items-between shadow-md"
      >
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-12 h-12 rounded-full absolute left-3 -top-7 shadow-md"
        />
        <i class="bi bi-quote text-3xl text-zinc-200 absolute left-2 top-5"></i>
        <p class="relative mt-10 text-justify text-sm text-slate-400">
          Lorem ipsum dolor sit amet consecteturcta esse saepe corrupti ullam,
          magni facere incidunt ssds
        </p>
        <div class="mt-2">
          <h3 class="font-semibold text-sm text-slate-600">Mário Norberto</h3>
          <h5 class="font-light text-sm text-slate-400">Backend Developer</h5>
        </div>
      </div>
      <div
        class="relative bg-white transition delay-600 ease-in duration-400 hover:shadow-slate-400 hover:-translate-y-3 rounded-md p-3 h-40 w-96 border-[1px] border-zinc-200 flex flex-col justify-stretch items-between shadow-md"
      >
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-12 h-12 rounded-full absolute left-3 -top-7 shadow-md"
        />
        <i class="bi bi-quote text-3xl text-zinc-200 absolute left-2 top-5"></i>
        <p class="relative mt-10 text-justify text-sm text-slate-400">
          Lorem ipsum dolor sit amet consecteturcta esse saepe corrupti ullam,
          magni facere incidunt ssds
        </p>
        <div class="mt-2">
          <h3 class="font-semibold text-sm text-slate-600">Mário Norberto</h3>
          <h5 class="font-light text-sm text-slate-400">Backend Developer</h5>
        </div>
      </div>
      <div
        class="relative bg-white transition delay-600 ease-in duration-400 hover:shadow-slate-400 hover:-translate-y-3 rounded-md p-3 h-40 w-96 border-[1px] border-zinc-200 flex flex-col justify-stretch items-between shadow-md"
      >
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-12 h-12 rounded-full absolute left-3 -top-7 shadow-md"
        />
        <i class="bi bi-quote text-3xl text-zinc-200 absolute left-2 top-5"></i>
        <p class="relative mt-10 text-justify text-sm text-slate-400">
          Lorem ipsum dolor sit amet consecteturcta esse saepe corrupti ullam,
          magni facere incidunt ssds
        </p>
        <div class="mt-2">
          <h3 class="font-semibold text-sm text-slate-600">Mário Norberto</h3>
          <h5 class="font-light text-sm text-slate-400">Backend Developer</h5>
        </div>
      </div>
      <div
        class="relative bg-white transition delay-600 ease-in duration-400 hover:shadow-slate-400 hover:-translate-y-3 rounded-md p-3 h-40 w-96 border-[1px] border-zinc-200 flex flex-col justify-stretch items-between shadow-md"
      >
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-12 h-12 rounded-full absolute left-3 -top-7 shadow-md"
        />
        <i class="bi bi-quote text-3xl text-zinc-200 absolute left-2 top-5"></i>
        <p class="relative mt-10 text-justify text-sm text-slate-400">
          Lorem ipsum dolor sit amet consecteturcta esse saepe corrupti ullam,
          magni facere incidunt ssds
        </p>
        <div class="mt-2">
          <h3 class="font-semibold text-sm text-slate-600">Mário Norberto</h3>
          <h5 class="font-light text-sm text-slate-400">Backend Developer</h5>
        </div>
      </div>
      <div
        class="relative bg-white transition delay-600 ease-in duration-400 hover:shadow-slate-400 hover:-translate-y-3 rounded-md p-3 h-40 w-96 border-[1px] border-zinc-200 flex flex-col justify-stretch items-between shadow-md"
      >
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-12 h-12 rounded-full absolute left-3 -top-7 shadow-md"
        />
        <i class="bi bi-quote text-3xl text-zinc-200 absolute left-2 top-5"></i>
        <p class="relative mt-10 text-justify text-sm text-slate-400">
          Lorem ipsum dolor sit amet consecteturcta esse saepe corrupti ullam,
          magni facere incidunt ssds
        </p>
        <div class="mt-2">
          <h3 class="font-semibold text-sm text-slate-600">Mário Norberto</h3>
          <h5 class="font-light text-sm text-slate-400">Backend Developer</h5>
        </div>
      </div>
      <div
        class="relative bg-white transition delay-600 ease-in duration-400 hover:shadow-slate-400 hover:-translate-y-3 rounded-md p-3 h-40 w-96 border-[1px] border-zinc-200 flex flex-col justify-stretch items-between shadow-md"
      >
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-12 h-12 rounded-full absolute left-3 -top-7 shadow-md"
        />
        <i class="bi bi-quote text-3xl text-zinc-200 absolute left-2 top-5"></i>
        <p class="relative mt-10 text-justify text-sm text-slate-400">
          Lorem ipsum dolor sit amet consecteturcta esse saepe corrupti ullam,
          magni facere incidunt ssds
        </p>
        <div class="mt-2">
          <h3 class="font-semibold text-sm text-slate-600">Mário Norberto</h3>
          <h5 class="font-light text-sm text-slate-400">Backend Developer</h5>
        </div>
      </div>
    </div>
  </section>
</section>

<app-footer></app-footer>
