<section>
  <h1 class="text-zinc-900 text-3xl pb-5">
    How to install extensios on vs code?
  </h1>
  <img
    src="../../../assets/images/how-to-install-images-on-vscode.png"
    alt=""
    class="w-full h-96 rounded-sm mb-3"
  />
  <div class="flex gap-2 justify-start items-center my-2">
    <span
      class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-400 text-zinc-500 p-1 text-center"
      >programming</span
    >
    <span
      class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-400 text-zinc-500 p-1 text-center"
    >
      code editor
    </span>
  </div>
  <section class="mt-4 text-justify">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi
    assumenda beatae recusandae eligendi, consectetur nisi molestiae molestias
    perferendis ut, voluptas inventore debitis aut officiis velit, veniam illum
    nulla dolor. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed
    excepturi assumenda beatae recusandae eligendi, consectetur nisi molestiae
    molestias perferendis ut, voluptas inventore debitis aut officiis velit,
    veniam illum nulla dolor. Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Sed excepturi assumenda beatae recusandae eligendi,
    consectetur nisi molestiae molestias perferendis ut, voluptas inventore
    debitis aut officiis velit, veniam illum nulla dolor. Lorem, ipsum dolor sit
    amet consectetur adipisicing elit. Sed excepturi assumenda beatae recusandae
    eligendi, consectetur nisi molestiae molestias perferendis ut, voluptas
    inventore debitis aut officiis velit, veniam illum nulla dolor.
  </section>
  <div class="flex justify-start items-center gap-3 mt-4">
    <span
      class="flex justify-center items-center gap-2 text-sm rounded-3xl border-[1px] border-zinc-400 p-1"
      ><i class="bi bi-eye text-zinc-400">see more</i></span
    >
    <span
      class="flex justify-center items-center gap-2 text-sm rounded-3xl border-[1px] border-zinc-400 p-1"
      ><i class="bi bi-eye text-zinc-400">see more</i></span
    >
    <span
      class="flex justify-center items-center gap-2 text-sm rounded-3xl border-[1px] border-zinc-400 p-1"
      ><i class="bi bi-eye text-zinc-400">see more</i></span
    >
    <span
      class="flex justify-center items-center gap-2 text-sm rounded-3xl border-[1px] border-zinc-400 p-1"
      ><i class="bi bi-eye text-zinc-400">see more</i></span
    >
  </div>
</section>
