<section>
  <h1 class="text-zinc-900 text-3xl pb-5">
    How to install extensios on vs code?
  </h1>
  <img
    src="../../../assets/images/how-to-install-images-on-vscode.png"
    alt=""
    class="w-full h-96 rounded-sm mb-3"
  />
  <div class="flex gap-2 justify-start items-center my-2">
    <span
      class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
      >programming</span
    >
    <span
      class="flex justify-center items-center text-sm h-8 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] p-1 text-center"
      >code editor</span
    >
    <span class="ms-auto text-sm text-zinc-200">July 18, 2024 </span>
  </div>
  <section class="mt-4 text-justify text-sm text-neutral-700">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi
    assumenda beatae recusandae eligendi, consectetur nisi molestiae molestias
    perferendis ut, voluptas inventore debitis aut officiis velit, veniam illum
    nulla dolor. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed
    excepturi assumenda beatae recusandae eligendi, consectetur nisi molestiae
    molestias perferendis ut, voluptas inventore debitis aut officiis velit,
    veniam illum nulla dolor. Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Sed excepturi assumenda beatae recusandae eligendi,
    consectetur nisi molestiae molestias perferendis ut, voluptas inventore
    debitis aut officiis velit, veniam illum nulla dolor. Lorem, ipsum dolor sit
    amet consectetur adipisicing elit. Sed excepturi assumenda beatae recusandae
    eligendi, consectetur nisi molestiae molestias perferendis ut, voluptas
    inventore debitis aut officiis velit, veniam illum nulla dolor.
  </section>
  <div class="flex justify-start items-center gap-3 mt-4">
    <button
      class="hover:shadow-md flex justify-center items-center gap-3 text-sm rounded-3xl border-[1px] border-zinc-300 p-1 cursor-pointer"
    >
      <i
        class="flex justify-center items-center gap-1 bi bi-heart-fill font-bold text-slate-700 font-mono"
        >24</i
      >
    </button>
    <button
      class="hover:shadow-md flex justify-center items-center gap-2 text-sm rounded-3xl border-[1px] border-zinc-400 p-1"
    >
      <i class="bi bi-bookmark-plus-fill text-slate-700 font-mono">Save</i>
    </button>
    <span class="flex justify-center items-center text-sm">
      <input
        type="text"
        class="rounded-s-3xl border-e-[none] ps-2 border-[1px] text-sm border-zinc-400 p-1"
        placeholder="leave your comment here"
      />
      <div class="rounded-e-3xl p-1 border-[1px] text-[12px] border-zinc-400">
        <i class="bi bi-chat-fill text-slate-700"></i> 43
      </div>
    </span>
  </div>
</section>
