<section
  class="flex justify-start items-stretch gap-2 mb-6 w-full"
  *ngFor="let data of mostReadData"
>
  <div class="flex flex-col gap-1">
    <div class="flex justify-start items-center gap-1 mb-2">
      <span
        class="flex justify-center items-center text-[8px] text-nowrap h-6 px-2 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] text-center"
        >{{ data.tech }}</span
      >
      <span class="ms-auto text-[10px] text-zinc-200 text-nowrap"
        >{{ data.date }}
      </span>
    </div>
    <p class="text-[11px] text-black font-semibold">
      {{ data.content }}
    </p>

    <div
      (onClick)="onShowCardDialog()"
      class="flex justify-start gap-2 items-center hover:translate-x-1 transition ease-in-out"
    >
      <i
        class="bi bi-chevron-right text-sm bg-slate-600 text-white font-bold rounded-md py-[1px] px-[1px]"
      ></i
      ><span class="text-slate-600 hover:text-slate-700 cursor-pointer text-sm"
        >Read Post <i class="text-slate-300 bi bi-arrow-bar-right"></i
      ></span>
    </div>
    <app-modal-large [cardProfileData]="dataToCardProfile">
      <app-single-post></app-single-post>
    </app-modal-large>
  </div>
  <img
    src="../../../assets/images/{{ data.urlImg }}"
    alt=""
    class="w-28 h-20"
  />
</section>
