<section
  class="flex justify-start items-stretch gap-2 mb-6 w-full"
  *ngFor="let data of mostReadData"
>
  <div class="flex flex-col gap-1">
    <div class="flex justify-start items-center gap-1 mb-2">
      <span
        class="flex justify-center items-center text-[8px] text-nowrap h-6 px-2 bg-white border-[1px] border-zinc-200 text-black font-bold shadow-sm rounded-[3px] text-center"
        >{{ data.tech }}</span
      >
      <span class="ms-auto text-[10px] text-zinc-200 text-nowrap"
        >{{ data.date }}
      </span>
    </div>
    <p class="text-[11px] text-black font-semibold">
      {{ data.content }}
    </p>
    <a href="" class="text-blue-900 underline text-[12px]">continue to see</a>
  </div>
  <img
    src="../../../assets/images/{{ data.urlImg }}"
    alt=""
    class="w-28 h-20"
  />
</section>
