<nav
  class="relative p-2 py-3 flex justify-around items-center border-b-[1px] border-zinc-300"
>
  <a href="" class="font-bold">
    <!-- <img
      src="../../../assets/images/cybernorb.png"
      alt=""
      width="40"
      height="10"
    /> -->
    cybernorb
  </a>
  <ul class="flex justify-center items-center gap-1">
    <li>
      <a href="" class="text-slate-500 hover:bg-slate-200 p-1 px-3">Home</a>
    </li>
    <li>
      <a href="" class="text-slate-500 hover:bg-slate-200 p-1 px-3">perfil</a>
    </li>
    <li>
      <a href="" class="text-slate-500 hover:bg-slate-200 p-1 px-3">contact</a>
    </li>
    <li>
      <a href="" class="text-slate-500 hover:bg-slate-200 p-1 px-3">about</a>
    </li>
  </ul>
  <section class="absolute right-9 flex justify-center gap-2 items-center">
    <div class="relative">
      <i
        class="bi bi-bell-fill text-slate-950 text-lg border-[1px] border-zinc-100 h-8 w-8 p-1 rounded-full flex justify-center items-center"
      ></i>
      <span
        class="absolute top-0 right-[-2px] bg-red-500 text-[9px] rounded-full flex justify-center items-center w-4 text-white"
        >10</span
      >
    </div>
    <i
      class="bi bi-exclamation-circle-fill text-slate-950 text-lg border-[1px] border-zinc-100 h-8 w-8 p-1 rounded-full flex justify-center items-center"
    ></i>
    <i
      class="bi bi-people-fill text-slate-950 text-lg border-[1px] border-zinc-100 h-8 w-8 p-1 rounded-full flex justify-center items-center"
    ></i>
    <div
      class="flex justify-center items-center gap-2 border-[1px] cursor-pointer rounded-full px-[3px]"
    >
      <img
        src="../../../assets/images/me.jpg"
        alt=""
        class="w-7 h-7 rounded-full"
      />
      <i class="bi bi-upc text-2xl"></i>
    </div>
  </section>
</nav>
