<nav
  class="relative p-2 py-3 flex justify-around items-center border-b-[1px] border-zinc-300 max-lg:justify-between"
>
  <a routerLink="/cybernorb" class="font-bold">
    <img src="../../../assets/images/logo.png" alt="" srcset=""
  /></a>
  <ul class="flex justify-center items-center gap-1 me-10 max-lg:hidden">
    <li>
      <a
        routerLink="/cybernorb"
        routerLinkActive="nav-active"
        class="text-slate-500 hover:bg-slate-100 p-1 px-2 rounded-sm text-sm"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/cybernorb/news"
        routerLinkActive="nav-active"
        class="text-slate-500 hover:bg-slate-100 p-1 px-2 rounded-sm text-sm"
        >News</a
      >
    </li>
    <li
      routerLinkActive="nav-active"
      class="relative text-slate-500 bg-white hover:bg-slate-100 rounded-sm text-sm pe-2"
    >
      <p-menubar [model]="items">
        <ng-template #noLink pTemplate="item" let-item>
          <div class="p-menuitem-link hover:bg-slate-100">
            <a
              [routerLink]="item.route"
              class="font-light bg-white text-slate-500 p-1 hover:bg-slate-100"
              >{{ item.label }}</a
            >
          </div>
        </ng-template>
      </p-menubar>
      <i
        class="bi bi-chevron-down text-[11px] absolute -right-[-0px] top-[7px]"
      ></i>
    </li>
    <li>
      <a
        routerLink="/cybernorb/about"
        routerLinkActive="nav-active"
        class="text-slate-500 hover:bg-slate-100 p-1 px-2 rounded-sm text-sm"
        >About</a
      >
    </li>
  </ul>
  <section class="absolute right-9 flex justify-center gap-2 items-center">
    <a
      routerLink="/cybernorb/notifications"
      class="relative hover:shadow-md h-8 w-8 rounded-full cursor-default max-lg:hidden"
    >
      <i
        class="bi bi-bell-fill text-slate-950 text-lg border-[1px] border-zinc-100 h-8 w-8 p-1 rounded-full flex justify-center items-center"
      ></i>
      <span
        class="absolute top-0 right-[-2px] bg-red-500 text-[9px] rounded-full flex justify-center items-center w-4 text-white"
        >10</span
      >
    </a>
    <a
      routerLink="/cybernorb/community"
      class="cursor-pointer hover:shadow-md h-8 w-8 rounded-full max-lg:hidden"
    >
      <i
        class="bi bi-people-fill text-slate-950 text-lg border-[1px] border-zinc-100 h-8 w-8 p-1 rounded-full flex justify-center items-center"
      ></i>
    </a>
    <div
      (click)="onClick()"
      class="flex justify-center items-center gap-2 border-[1px] cursor-pointer rounded-full px-[3px] hover:shadow-md"
    >
      <img
        src="../../../assets/images/me.jpg"
        alt=""
        class="w-7 h-7 rounded-full"
      />
      <i class="bi bi-upc text-2xl"></i>
    </div>
    <div
      *ngIf="showCardProfile"
      class="p-4 overflow-x-hidden overflow-y-scroll flex-col justify-stretch items-start z-10 absolute top-10 right-0 overflow-y bg-slate-800 rounded-s-md rounded-b-md shadow-md h-96 w-56 text-zinc-300 shadow-md"
    >
      <div class="flex gap-1 justify-center items-center pt-1">
        <img
          src="../../../assets/images/me.jpg"
          alt=""
          class="w-7 h-7 rounded-full"
        />
        <div class="flex flex-col gap-0">
          <h4 class="text-white text-[12px] font-bold">Mário Norberto</h4>
          <h6 class="text-[10px] overflow-hidden font-lighter">
            marionorberto2018&#64;gmail.com
          </h6>
        </div>
      </div>
      <div
        class="flex w-full flex-col justify-center items-start gap-2 border-t-[1px] mt-4 border-slate-700 pt-2"
      >
        <a
          class="font-light flex justify-center items-center gap-2 text-[14px] hover:text-zinc-400 text-zinc-300 cursor-pointer"
        >
          <i class="bi bi-person-fill text-lg"></i>
          <p-button (onClick)="handleCreatePost(true)" label="Profile">
            <app-modal-large [cardProfileData]="dataToCardProfile">
              <app-profile></app-profile>
            </app-modal-large>
          </p-button>
        </a>

        <a
          routerLink="/cybernorb/settings"
          class="flex justify-center items-center gap-2 text-[14px] text-zinc-300 hover:text-zinc-400 cursor-pointer"
          ><i class="bi bi-gear-fill text-lg"></i> Settings</a
        >
      </div>
      <div
        class="flex w-full flex-col justify-center items-start gap-2 border-t-[1px] mt-4 border-slate-700 pt-2"
      >
        <a
          routerLink="/cybernorb/my-posts"
          class="flex justify-center items-center gap-2 text-[14px] hover:text-zinc-400 text-zinc-300 cursor-pointer"
          ><i class="bi bi-download text-lg"></i> My Posts</a
        >
        <a
          routerLink="/cybernorb/notifications"
          class="flex justify-center items-center gap-2 text-[14px] hover:text-zinc-400 text-zinc-300 cursor-pointer"
          ><i class="bi bi-bell-fill text-lg"></i> Check Notifications</a
        >
        <a
          routerLink="/cybernorb/events"
          class="flex justify-center items-center gap-2 text-[14px] hover:text-zinc-400 text-zinc-300 cursor-pointer"
          ><i class="bi bi-calendar-event text-lg"></i>Events</a
        >
      </div>
      <div
        class="border-t-[1px] mb-8 border-slate-700 flex justify-start items-center gap-3 pt-3 w-full mt-2"
      >
        <button
          (click)="onChangeLayoutModeToLight()"
          class="relative bg-white rounded-md h-14 w-20 p-1 hover:shadow-zinc-600 hover:shadow-md cursor-pointer"
        >
          <i
            class="absolute left-7 top-4 bi {{
              layoutMode == 'light' ? 'bi-check bg-slate-700' : ''
            }} text-white text-lg h-5 w-5 rounded-full flex justify-center items-center"
          ></i>
          <div class="bg-zinc-200 w-full rounded-sm h-4"></div>
          <div class="flex gap-1 justify-between items-center py-1">
            <div class="bg-zinc-200 w-5 rounded-sm h-7"></div>
            <div class="bg-zinc-200 w-5 rounded-sm h-7"></div>
            <div class="bg-zinc-200 w-5 rounded-sm h-7"></div>
          </div>
          <h4 class="hover:text-zinc-500 text-zinc-400 text-start py-1 text-sm">
            Light
          </h4>
        </button>
        <button
          (click)="onChangeLayoutModeToDark()"
          class="relative bg-black rounded-md h-14 w-20 p-1 hover:shadow-zinc-600 hover:shadow-md cursor-pointer"
        >
          <i
            class="absolute left-7 top-4 bi {{
              layoutMode == 'dark' ? 'bi-check bg-slate-700' : ''
            }} text-white text-lg h-5 w-5 rounded-full flex justify-center items-center"
          ></i>
          <div class="bg-neutral-800 w-full rounded-sm h-4"></div>
          <div class="flex gap-1 justify-between items-center py-1">
            <div class="bg-neutral-800 w-5 rounded-sm h-7"></div>
            <div class="bg-neutral-800 w-5 rounded-sm h-7"></div>
            <div class="bg-neutral-800 w-5 rounded-sm h-7"></div>
          </div>
          <h4 class="hover:text-zinc-500 text-zinc-400 text-start py-1 text-sm">
            Dark
          </h4>
        </button>
      </div>
      <a
        routerLink="/cybernorb/login"
        class="py-3 pt-5 w-full border-t-[1px] mt-4 border-slate-700 hover:text-zinc-400 text-zinc-300 font-semibold flex justify-start items-center gap-2 cursor-pointer"
      >
        <i class="bi bi-box-arrow-left font-light text-base cursor-pointer"></i>
        Logout
      </a>
    </div>
  </section>
</nav>
