<section
  class="login-img-bg h-screen w-screen flex flex-col justify-center items-center"
>
  <h1 class="text-3xl font-bold text-white mb-3">Sign In</h1>
  <form
    action="cybernorb"
    method="post"
    class="p-5 w-96 bg-white rounded-md shadow-lg flex flex-col gap-5"
  >
    <a routerLink="/" class="font-bold mx-auto">
      <img src="../../../assets/images/logo.png" alt="" srcset=""
    /></a>
    <div class="w-full flex flex-col">
      <input
        type="text"
        id="email"
        [(ngModel)]="email"
        name="email"
        class="border-[1px] ps-3 border-zinc-300 p-1 py-2 text-zinc-500 rounded-md"
        placeholder="E-mail"
      />
    </div>

    <div class="relative w-full flex flex-col">
      <input
        type="text"
        id="password"
        [(ngModel)]="password"
        name="password"
        class="border-[1px] border-zinc-300 py-2 p-1 text-zinc-500 rounded-md"
        placeholder="Password"
      />
      <i class="absolute right-2 top-2 bi bi-eye-fill text-zinc-600"></i>
    </div>

    <button
      (click)="onSubmit()"
      type="submit"
      class="w-full p-3 bg-slate-900 hover:bg-slate-800 rounded-md text-white hover:shadow-sm"
    >
      submit <i class="bi bi-send"></i>
    </button>
    <div class="flex justify-end items-center gap-1">
      <span class="text-sm text-zinc-400">Have no account</span>
      <a routerLink="/register" class="underline text-sm text-blue-600"
        >Sign Up</a
      >
    </div>
  </form>
</section>
