<section class="flex flex-col justify-center items-start gap-3 pe-2 w-[16rem]">
  <section class="w-full">
    <button
      class="bg-slate-900 mb-3 cursor-pointer font-semibold flex justify-center items-center gap-1 text-white w-48 py-2 rounded-sm"
    >
      <i class="bi bi-plus text-lg rounded-sm text-white bg-slate-800"></i>
      <span>compose new post</span>
    </button>

    <div class="flex flex-col justify-stretch items-end gap-3">
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">backend</span>
      </div>
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">backend</span>
      </div>
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">backend</span>
      </div>
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">frontend</span>
      </div>
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">pentest</span>
      </div>
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">soc</span>
      </div>
      <div
        class="flex justify-end items-center border-[1px] p-1 gap-3 border-zinc-200 rounded-full"
      >
        <img
          class="w-4 h-4"
          src="../../../assets/images/how-to-install-images-on-vscode.png"
          alt=""
        />
        <span class="text-sm text-zinc-600">devops</span>
      </div>
    </div>
  </section>
  <section class="bg-slate-100 w-full h-80"></section>
</section>
