<section class="p-8 pb-32">
  <h1 class="text-4xl text-slate-600 font-bold">Create new Post</h1>
  <p class="text-zinc-400">
    Publish a new post and start interacting with your tech community.
  </p>

  <section
    class="post-section flex flex-col justify-center items-center gap-3 mt-5 w-[30rem] mx-auto"
  >
    <div class="mt-8 flex flex-col justify-center items-start">
      <label for="" class="text-lg text-slate-600 font-semibold mb-1"
        >Title*</label
      >

      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="title"
        placeholder="Post Title"
        class="text-sm bg-slate-50 active:border-blue-400 border-[1px] rounded-md p-4 gap-0 text-slate-600 font-semibold hover:bg-slate-200 w-96"
      />
      <span class="text-slate-400 text-sm mt-1"
        >Tile must have between 10 to 200 caracters</span
      >
    </div>
    <div class="mt-3 flex flex-col justify-center items-start">
      <span for="" class="text-slate-600 font-semibold mb-1"
        >Upload Poster Image*</span
      >
      <label for="poster" class="relative text-slate-600 font-semibold mb-1">
        <div
          class="cursor-pointer text-sm text-center bg-slate-50 border-[2px] rounded-md p-4 gap-0 text-slate-600 font-semibold hover:bg-slate-100 hover:border-slate-300 w-96 border-dashed"
        >
          Poster Image
        </div>
        <i
          class="bi bi-cloud-arrow-up text-slate-600 absolute right-24 top-4 text-lg"
        ></i>
      </label>
      <input
        type="file"
        accept=".png, .jpeg, .jpg"
        [(ngModel)]="uploadMessage"
        hidden
        name="poster"
        id="poster"
      />
    </div>
    <button
      *ngIf="uploadMessage"
      class="text-sm bg-slate-50 rounded-md p-4 py-2 gap-0 text-slate-500 font-semibold w-96"
    >
      {{ uploadMessage }}
    </button>
    <!-- tags -->
    <div class="mt-3 flex flex-col justify-center items-start">
      <label for="" class="text-lg text-slate-600 font-semibold mb-1"
        >Tags*</label
      >
      <span class="text-slate-400 text-sm my-1">*Two at most</span>
      <div class="relative">
        <button
          (click)="addTagsToPost()"
          class="absolute top-3 left-2 text-base bg-slate-200 rounded-md p-2 gap-0 text-slate-600 w-7 h-7 flex justify-center items-center font-semibold hover:bg-slate-300"
        >
          +
        </button>
        <select
          name="tags"
          id="tags"
          [(ngModel)]="tag"
          class="ps-10 text-sm bg-slate-50 border-[1px] rounded-md p-4 gap-0 text-slate-600 font-semibold w-96"
        >
          <option
            *ngFor="let item of postTags"
            value="{{ item }}"
            class="text-sm bg-slate-50 border-[1px] rounded-md p-4 gap-0 text-slate-600 font-semibold hover:bg-slate-200 w-96"
          >
            {{ item }}
          </option>
        </select>
        <div class="flex justify-start items-center gap-2 mt-2">
          <button
            (click)="deleteTag(tag)"
            *ngFor="let tag of tagsCollection"
            class="text-sm bg-slate-100 rounded-md p-2 text-slate-600 font-semibold hover:bg-slate-200 flex justify-center items-center gap-1 cursor-pointer"
          >
            {{ tag }}
            <i
              class="bi bi-trash font-semibold text-red-300 flex justify-center items-center"
            ></i>
          </button>
        </div>
      </div>
    </div>
    <button
      *ngIf="tagsErrors"
      class="text-sm bg-red-50 rounded-md p-4 py-2 gap-0 text-red-500 font-semibold w-96"
    >
      {{ tagsErrors }}
    </button>
    <div
      *ngFor="let section of postSectionsCollection; let i = index"
      class="flex flex-col justify-center items-center"
    >
      <app-post-section [sectionId]="section"></app-post-section>
      <div
        class="bg-slate-100 p-1 rounded-lg mt-1 w-96 hover:shadow-md flex justify-center items-center"
      >
        <button
          (click)="addPostSection()"
          *ngIf="i == postSectionsCollection.length - 1"
          class="text-sm bg-slate-50 rounded-md p-4 py-2 gap-0 text-slate-600 font-semibold w-full"
        >
          + Post Section +
        </button>
      </div>
    </div>
    <button
      *ngIf="error"
      class="text-sm bg-red-50 rounded-md p-4 py-2 gap-0 text-red-500 font-semibold w-96"
    >
      {{ error }}
    </button>
    <div class="ms-9 mt-5 flex justify-center items-center gap-3 self-center">
      <button
        (click)="cancel()"
        class="text-sm bg-slate-100 rounded-md p-4 py-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200 hover:shadow-md"
      >
        Cancel
      </button>
      <button
        (click)="onSubmit()"
        class="text-sm bg-slate-600 rounded-md p-4 py-2 gap-0 text-white font-semibold hover:shadow-md hover:bg-slate-700"
      >
        Submit <i class="bi bi-send text-white"></i>
      </button>
    </div>
  </section>
</section>
