<app-top-navbar></app-top-navbar>
<section class="bg-img h-[30rem] w-screen relative">
  <section class="z-10 absolute top-36 left-6">
    <span class="font-semibold text-white text-4xl">cybernorb</span>
    <h1 class="font-bold text-slate-800 text-5xl">Events Community</h1>
    <h1 class="font-bold text-white text-5xl underline">Join with us</h1>
  </section>
</section>
<section class="relative">
  <div class="bg-zinc-200 w-1 h-full left-10 absolute top-0"></div>
  <div class="ps-28 pe-20 pb-40 pt-8">
    <h1 class="text-4xl font-bold text-slate-600">Bookings</h1>
    <h3 class="text-sm text-zinc-400 mb-5">
      See your schedule events from calendar events links
    </h3>
    <section>
      <div
        class="bg-zinc-50 rounded-md p-4 flex justify-start items-center gap-10"
      >
        <button
          (click)="filterEvents('upcoming')"
          class="text-sm {{
            eventFilterChosen == 'upcoming' ? 'bg-slate-300' : 'bg-slate-100'
          }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
        >
          Upcoming
        </button>
        <button
          (click)="filterEvents('pending')"
          class="text-sm {{
            eventFilterChosen == 'pending' ? 'bg-slate-300' : 'bg-slate-100'
          }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
        >
          Pending
        </button>
        <button
          (click)="filterEvents('past')"
          class="text-sm {{
            eventFilterChosen == 'past' ? 'bg-slate-300' : 'bg-slate-100'
          }} rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-300"
        >
          Past
        </button>
      </div>
      <div
        class="p-5 rounded-md border-[1px] border-zinc-100 mt-6 flex flex-col justify-center items-start w-full gap-2"
      >
        <app-event-schedule></app-event-schedule>
        <app-event-schedule></app-event-schedule>
        <app-event-schedule></app-event-schedule>
        <app-event-schedule></app-event-schedule>
      </div>

      <div
        class="border-[1px] border-slate-50 bg-slate-50 grid grid-cols-3 grid-rows-1 mt-8 place-content-center place-items-center"
      >
        <div
          class="bg-slate-100 hover:bg-slate-200 w-40 h-36 flex justify-center items-center"
        >
          <a
            routerLink=""
            class="font-semibold text-slate-600 cursor-pointer hover:underline"
            >Saved Events</a
          >
        </div>
        <div
          class="bg-slate-100 bg-gradient-to-tr hover:bg-slate-200 w-40 h-36 flex justify-center items-center"
        >
          <a
            routerLink=""
            class="font-semibold text-slate-600 cursor-pointer hover:underline"
            >Shared Events</a
          >
        </div>
        <div
          class="bg-slate-100 hover:bg-slate-200 w-40 h-36 flex justify-center items-center"
        >
          <a
            routerLink=""
            class="font-semibold text-slate-600 cursor-pointer hover:underline"
            >Dismissed Events</a
          >
        </div>
      </div>
    </section>
  </div>
</section>

<app-footer></app-footer>
