<app-top-navbar></app-top-navbar>
<section class="bg-img h-[30rem] w-screen relative">
  <section class="z-10 absolute top-36 left-6">
    <span class="font-semibold text-white text-4xl">cybernorb</span>
    <h1 class="font-bold text-slate-800 text-5xl">Events Community</h1>
    <h1 class="font-bold text-white text-5xl underline">Join with us</h1>
  </section>
</section>
<section class="relative">
  <div class="bg-zinc-200 w-1 h-full left-10 absolute top-0"></div>
  <div class="ps-28 pe-20 pb-40 pt-8">
    <h1 class="text-4xl font-bold text-slate-600">Bookings</h1>
    <h3 class="text-sm text-zinc-400 mb-5">
      See your schedule events from calendar events links
    </h3>
    <section>
      <div
        class="bg-zinc-50 rounded-md p-4 flex justify-start items-center gap-10"
      >
        <button
          class="text-sm bg-slate-200 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
        >
          Upcoming
        </button>
        <button
          class="text-sm bg-slate-100 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
        >
          Pending
        </button>
        <button
          class="text-sm bg-slate-100 rounded-md p-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200"
        >
          Past
        </button>
      </div>
      <div
        class="p-5 rounded-md border-[1px] border-zinc-100 mt-6 flex flex-col justify-center items-start w-full gap-2"
      >
        <div
          class="p-2 flex justify-start items-center gap-4 w-full rounded-md"
        >
          <div
            class="w-40 flex flex-col justify-center items-center border-r-[1px] p-5 ps-8"
          >
            <span class="font-bold text-4xl text-slate-600">Wed</span>
            <span class="font-bold text-4xl text-slate-600">19</span>
          </div>
          <div class="flex justify-start items-center gap-20 relative">
            <div class="text-lg flex flex-col gap-2 justify-center items-start">
              <span class="text-zinc-500"
                ><i class="bi bi-stopwatch"></i> 14h - 15h30
                <i class="bi bi-exclamation-circle-fill text-red-500"></i
              ></span>
              <span class="text-zinc-500"
                ><i class="bi bi-geo-alt-fill"></i> Online</span
              >
            </div>
            <div class="flex flex-col justify-center items-start">
              <h3 class="text-sm font-bold">
                Nestjs Framework new release, whats new?
              </h3>
              <div>
                <h5 class="text-zinc-400 italic text-sm">Feature Speakers</h5>
                <div class="relative flex mt-2">
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-10 shadow-md"
                  />
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-20 absolute left-7 shadow-md"
                  />
                </div>
              </div>
            </div>
            <div class="absolute -right-64 top-6">
              <div class="relative">
                <i
                  class="bi bi-three-dots-vertical bg-slate-50 rounded-sm p-[11px] border-[1px] border-slate-100 cursor-pointer text-slate-700 hover:bg-slate-100"
                ></i>
                <div
                  class="bg-white absolute -right-36 -bottom-20 p-4 rounded-sm border-[1px] border-zinc-50 w-32 h-28 text-zinc-400"
                >
                  hwew
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3 w-[90%] mx-auto" />
        <div
          class="p-2 flex justify-start items-center gap-4 w-full rounded-md"
        >
          <div
            class="w-40 flex flex-col justify-center items-center border-r-[1px] p-5 ps-8"
          >
            <span class="font-bold text-4xl text-slate-600">Wed</span>
            <span class="font-bold text-4xl text-slate-600">19</span>
          </div>
          <div class="flex justify-start items-center gap-20 relative">
            <div class="text-lg flex flex-col gap-2 justify-center items-start">
              <span class="text-zinc-500"
                ><i class="bi bi-stopwatch"></i> 14h - 15h30
                <i class="bi bi-exclamation-circle-fill text-red-500"></i
              ></span>
              <span class="text-zinc-500"
                ><i class="bi bi-geo-alt-fill"></i> Online</span
              >
            </div>
            <div class="flex flex-col justify-center items-start">
              <h3 class="text-sm font-bold">
                Nestjs Framework new release, whats new?
              </h3>
              <div>
                <h5 class="text-zinc-400 italic text-sm">Feature Speakers</h5>
                <div class="relative flex mt-2">
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-10 shadow-md"
                  />
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-20 absolute left-7 shadow-md"
                  />
                </div>
              </div>
            </div>
            <div class="absolute -right-64 top-6">
              <div class="relative">
                <i
                  class="bi bi-three-dots-vertical bg-slate-50 rounded-sm p-[11px] border-[1px] border-slate-100 cursor-pointer text-slate-700 hover:bg-slate-100"
                ></i>
                <div
                  class="bg-white absolute -right-36 -bottom-20 p-4 rounded-sm border-[1px] border-zinc-50 w-32 h-28 text-zinc-400"
                >
                  hwew
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3 w-[90%] mx-auto" />
        <div
          class="p-2 flex justify-start items-center gap-4 w-full rounded-md"
        >
          <div
            class="w-40 flex flex-col justify-center items-center border-r-[1px] p-5 ps-8"
          >
            <span class="font-bold text-4xl text-slate-600">Wed</span>
            <span class="font-bold text-4xl text-slate-600">19</span>
          </div>
          <div class="flex justify-start items-center gap-20 relative">
            <div class="text-lg flex flex-col gap-2 justify-center items-start">
              <span class="text-zinc-500"
                ><i class="bi bi-stopwatch"></i> 14h - 15h30
                <i class="bi bi-exclamation-circle-fill text-red-500"></i
              ></span>
              <span class="text-zinc-500"
                ><i class="bi bi-geo-alt-fill"></i> Online</span
              >
            </div>
            <div class="flex flex-col justify-center items-start">
              <h3 class="text-sm font-bold">
                Nestjs Framework new release, whats new?
              </h3>
              <div>
                <h5 class="text-zinc-400 italic text-sm">Feature Speakers</h5>
                <div class="relative flex mt-2">
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-10 shadow-md"
                  />
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-20 absolute left-7 shadow-md"
                  />
                </div>
              </div>
            </div>
            <div class="absolute -right-64 top-6">
              <div class="relative">
                <i
                  class="bi bi-three-dots-vertical bg-slate-50 rounded-sm p-[11px] border-[1px] border-slate-100 cursor-pointer text-slate-700 hover:bg-slate-100"
                ></i>
                <div
                  class="bg-white absolute -right-36 -bottom-20 p-4 rounded-sm border-[1px] border-zinc-50 w-32 h-28 text-zinc-400"
                >
                  hwew
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3 w-[90%] mx-auto" />
        <div
          class="p-2 flex justify-start items-center gap-4 w-full rounded-md"
        >
          <div
            class="w-40 flex flex-col justify-center items-center border-r-[1px] p-5 ps-8"
          >
            <span class="font-bold text-4xl text-slate-600">Wed</span>
            <span class="font-bold text-4xl text-slate-600">19</span>
          </div>
          <div class="flex justify-start items-center gap-20 relative">
            <div class="text-lg flex flex-col gap-2 justify-center items-start">
              <span class="text-zinc-500"
                ><i class="bi bi-stopwatch"></i> 14h - 15h30
                <i class="bi bi-exclamation-circle-fill text-red-500"></i
              ></span>
              <span class="text-zinc-500"
                ><i class="bi bi-geo-alt-fill"></i> Online</span
              >
            </div>
            <div class="flex flex-col justify-center items-start">
              <h3 class="text-sm font-bold">
                Nestjs Framework new release, whats new?
              </h3>
              <div>
                <h5 class="text-zinc-400 italic text-sm">Feature Speakers</h5>
                <div class="relative flex mt-2">
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-10 shadow-md"
                  />
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-20 absolute left-7 shadow-md"
                  />
                </div>
              </div>
            </div>
            <div class="absolute -right-64 top-6">
              <div class="relative">
                <i
                  class="bi bi-three-dots-vertical bg-slate-50 rounded-sm p-[11px] border-[1px] border-slate-100 cursor-pointer text-slate-700 hover:bg-slate-100"
                ></i>
                <div
                  class="bg-white absolute -right-36 -bottom-20 p-4 rounded-sm border-[1px] border-zinc-50 w-32 h-28 text-zinc-400"
                >
                  hwew
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3 w-[90%] mx-auto" />
        <div
          class="p-2 flex justify-start items-center gap-4 w-full rounded-md"
        >
          <div
            class="w-40 flex flex-col justify-center items-center border-r-[1px] p-5 ps-8"
          >
            <span class="font-bold text-4xl text-slate-600">Wed</span>
            <span class="font-bold text-4xl text-slate-600">19</span>
          </div>
          <div class="flex justify-start items-center gap-20 relative">
            <div class="text-lg flex flex-col gap-2 justify-center items-start">
              <span class="text-zinc-500"
                ><i class="bi bi-stopwatch"></i> 14h - 15h30
                <i class="bi bi-exclamation-circle-fill text-red-500"></i
              ></span>
              <span class="text-zinc-500"
                ><i class="bi bi-geo-alt-fill"></i> Online</span
              >
            </div>
            <div class="flex flex-col justify-center items-start">
              <h3 class="text-sm font-bold">
                Nestjs Framework new release, whats new?
              </h3>
              <div>
                <h5 class="text-zinc-400 italic text-sm">Feature Speakers</h5>
                <div class="relative flex mt-2">
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-10 shadow-md"
                  />
                  <img
                    src="../../../assets/images/me.jpg"
                    alt=""
                    class="w-8 h-8 rounded-full z-20 absolute left-7 shadow-md"
                  />
                </div>
              </div>
            </div>
            <div class="absolute -right-64 top-6">
              <div class="relative">
                <i
                  class="bi bi-three-dots-vertical bg-slate-50 rounded-sm p-[11px] border-[1px] border-slate-100 cursor-pointer text-slate-700 hover:bg-slate-100"
                ></i>
                <div
                  class="bg-white absolute -right-36 -bottom-20 p-4 rounded-sm border-[1px] border-zinc-50 w-32 h-28 text-zinc-400"
                >
                  hwew
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<app-footer></app-footer>
