<main class="mb-40">
  <app-navbar></app-navbar>
  <section
    class="relative mb-10 rounded-xl shadow-sm w-96 bg-transparent h-12 flex justify-start items-center border-[1px] border-zinc-200"
  >
    <i
      class="absolute icon-search-center left-[35%] top-2 text-xl text-zinc-400 bi bi-search"
    ></i>
    <div class="w-[100%] rounded-xl h-full bg-white">
      <input
        type="text"
        placeholder="search by post..."
        class="text-sm search-posts w-full bg-transparent ps-14 text-zinc-600 h-full text-center"
      />
    </div>
  </section>
  <section class="flex justify-between items-stretch gap-1 bg-white mt-5">
    <app-left-sidebar></app-left-sidebar>
    <app-middle-sidebar></app-middle-sidebar>
    <app-right-sidebar></app-right-sidebar>
  </section>
</main>
