<app-top-navbar></app-top-navbar>
<section class="pt-10 pb-36 px-28">
  <div class="flex justify-between items-center">
    <div class="mb-28">
      <h1 class="mb-1 text-6xl text-slate-600 font-semibold">Support</h1>
      <h2 class="text-3xl text-slate-600 font-light">Contact Center</h2>
      <div class="mt-2">
        <h2 class="text-xl text-zinc-300 font-light">Get support With our</h2>
        <h2 class="text-xl text-zinc-300 font-light">Professional Team</h2>
      </div>
      <p class="w-[28rem] text-zinc-500 text-sm mt-2 font-light">
        Lorem ipsum dolor sit amet consectetur adipisicing Similique, Lorem
        ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <div class="mt-4 flex flex-col items-start gap-2">
        <span
          class="flex justify-center items-center gap-1 text-sm text-zinc-500 font-light"
        >
          <i
            class="bi bi-check h-5 w-5 rounded-full flex justify-center items-center bg-slate-100"
          ></i>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
        <span
          class="flex justify-center items-center gap-1 text-sm text-zinc-500 font-light"
        >
          <i
            class="bi bi-check bi bi-check rounded-full h-5 w-5 bg-slate-100 flex justify-center items-center"
          ></i>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
        <span
          class="flex justify-center items-center gap-1 text-sm text-zinc-500 font-light"
        >
          <i
            class="bi bi-check h-5 w-5 rounded-full bg-slate-100 flex justify-center items-center"
          ></i>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
      </div>
      <div class="mt-5">
        <span
          class="flex justify-start items-center gap-1 text-slate-300 text-sm"
          ><i class="bi bi-telephone"></i>+244 935-327-990</span
        >
      </div>
    </div>
    <div class="relative grid grid-cols-2 grid-rows-1 gap-x-3 gap-y-0">
      <div class="bg-slate-100 rounded-full w-72 p-4"></div>

      <div class="flex flex-col items-center justify-center">
        <div class="bg-slate-500 rounded-full w-72 h-80 p-4"></div>
        <div class="bg-slate-700 rounded-full w-72 h-80 p-4 mt-5"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
