<section
  class="flex flex-col justify-center items-start gap-3 ps-2 w-[17rem] bg-white max-lg:hidden"
>
  <section class="w-full">
    <a
      class="cursor-pointer font-bold text-sm text-black flex justify-start items-center gap-1 mb-4"
    >
      Most Read
      <i
        class="bi bi-chevron-right text-[12px] h-4 w-4 border-[1px] border-zinc-200 rounded-full p1 text-black font-bold flex justify-center items-center"
      ></i>
    </a>
    <div class="border-s-[1px] border-zinc-50 ps-2">
      <app-card-most-read
        [mostReadData]="mostReadCardContent"
      ></app-card-most-read>
    </div>
  </section>
  <section
    class="w-full h-72 flex flex-col rounded-sm justify-center items-center mb-2 mt-3"
  >
    <span class="text-zinc-300 me-auto pb-2 text-lg">Ads</span>
    <img
      src="../../../assets/images/ad2.png"
      class="hover:brightness-75 brightness-95 cursor-pointer w-full rounded-md h-full"
      alt=""
    />
  </section>
  <section
    class="cursor-pointer bg-slate-50 hover:brightness-75 brightness-95 w-full h-72 flex flex-col justify-center items-center"
  >
    <img
      src="../../../assets/images/ad1.png"
      class="w-full h-full rounded-md"
      alt=""
    />
  </section>
</section>
