<app-top-navbar></app-top-navbar>
<section class="p-14 pt-10 px-32">
  <div class="flex flex-col justify-center items-center">
    <div
      class="hover:shadow-md bg-zinc-50 border-[1px] border-zinc-100 rounded-full w-72 flex justify-center items-center gap-2 p-[2px]"
    >
      <span class="text-white bg-slate-700 rounded-full p-[2px] font-bold"
        >usage</span
      >
      <span class="text-zinc-800 font-semibold text-sm"
        >Usage guide for CyberNorb 🎊</span
      >
    </div>
  </div>

  <div
    class="w-[48rem] my-14 mx-auto mt-14 grid grid-cols-2 grid-rows-2 place-content-center place-items-center gap-y-5 gap-x-8 columns-lg"
  >
    <div
      class="hover:shadow-md shadow-sm flex justify-center rounded-md items-stretch border-[1px] border-slate-200 p-4 gap-1 w-96"
    >
      <i class="bi bi-ethernet text-slate-600"></i>
      <div>
        <h3 class="text-black font-bold mb-1">Share your knownledge</h3>
        <p class="text-sm text-zinc-900 text-start font-light">
          you can share your knownledge about the tecnologies you master with
          community.
        </p>
      </div>
    </div>
    <div
      class="hover:shadow-md shadow-sm flex justify-center rounded-md items-stretch border-[1px] border-slate-200 p-4 gap-1 w-96"
    >
      <i class="bi bi-calendar-event text-slate-600"></i>
      <div>
        <h3 class="text-black font-bold mb-1">Participate in tech events</h3>
        <p class="text-sm text-zinc-900 text-start font-light">
          you can participate in technology events with interesting speakers
        </p>
      </div>
    </div>
    <div
      class="hover:shadow-md shadow-sm flex justify-center rounded-md items-stretch border-[1px] border-slate-200 p-4 gap-1 w-96"
    >
      <i class="bi bi-globe text-slate-600"></i>
      <div>
        <h3 class="text-black font-bold mb-1">Meet interesting people</h3>
        <p class="text-sm text-zinc-900 text-start font-light">
          you can be in touch with very interesting people that share similaries
          goals.
        </p>
      </div>
    </div>
    <div
      class="hover:shadow-md border-slate-200 shadow-sm flex justify-center rounded-md items-stretch border-[1px] p-4 gap-1 w-96"
    >
      <i class="bi bi-smartwatch text-slate-600"></i>
      <div>
        <h3 class="text-black font-bold mb-1">Be up to date</h3>
        <p class="text-sm text-zinc-900 text-start font-light">
          Stay up to date with news and new technologies every day.
        </p>
      </div>
    </div>
  </div>

  <div>
    <h1 class="mb-3 text-center text-xl text-slate-700 font-bold">
      FAQS - Frequently Questions Asked
    </h1>

    <div class="w-[40rem] mx-auto">
      <p-accordion [activeIndex]="0">
        <p-accordionTab [header]="tab.title" *ngFor="let tab of tabs">
          <p class="m-4 text-zinc-800 text-justify">
            {{ tab.content }}
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="mt-8 mb-36">
    <p class="text-zinc-400 text-sm">
      <span class="text-slate-700 font-bold text-base"
        >For more information</span
      >
      Visit our support page to get help
      <a
        href="localhost:4200/cybernorb/support/#support"
        class="text-slate-600 italic underline"
        >support <i class="bi bi-arrow-right"></i
      ></a>
    </p>
  </div>
</section>
<app-footer></app-footer>
